**Assignment 14**

** Q1) input=['hyd','bengaluru','mumbai','chennai']
     output=['Hyd','Bengaluru','Mumbai','Chennai']

 Q2) input=['hyd','bengaluru','mumbai','chennai']
     output=['HYD','BENGALURU','MUMBAI','CHENNAI']

 Q3) input=['hyd','bengaluru','mum#bai','chen#nai']
     output=['mum#bai','chen#nai']

 Q4) input=['hyd','bengaluru','mum#bai','chen#nai']
     output=['hyd','bengaluru']

 Q5) input=['hyd','bengaluru','mumbai','chennai']
     multiply all indexes by 10

 Q6) input=['hyd','bengaluru','mumbai','chennai']
     sum of all indexes

 Q7) Sum of first 10 Natural numbers **

In [1]:
Input=['hyd','bengaluru','mumbai','chennai']
output=[]
for i in Input:
    output.append(i.title())
print(output)

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [1]:
Input=['hyd','bengaluru','mumbai','chennai']
output=[]
for i in Input:
    output.append(i.upper())
print(output)

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

In [4]:
Input=['hyd','bengaluru','mum#bai','chen#nai']
output=[]
for i in Input:
    if '#' in i :
        output.append(i)
    
print(output)

['mum#bai', 'chen#nai']

In [1]:
Input=['hyd','bengaluru','mum#bai','chen#nai']
output=[]
for i in Input:
    if '#' in i:
        pass
    else:
        output.append(i)
print(output)

['hyd', 'bengaluru']

In [1]:
Input=['hyd','bengaluru','mumbai','chennai']
output=[]
for i in Input:
    output.append(Input.index(i)*10)
print(output)

[0, 10, 20, 30]

In [2]:
Input=['hyd','bengaluru','mumbai','chennai']
output=[]
for i in Input:
    output.append(Input.index(i))
print(sum(output))

6

In [3]:
output=[]
for i in range(1,11):
    output.append(i)
print(sum(output))

55