**Assignment 8**

**Write a function `sum_three(a, b, c)` that returns the sum of the three numbers.**

In [2]:
def three_sum(a,b,c):
    return a+b+c
three_sum(2,3,4)

9

In [1]:
def three_sum(a,b,c):
    result=a+b+c
    print(f"Sum of {a} + {b} + {c} = {result}")
three_sum(2,3,4)

Sum of 2 + 3 + 4 = 9

**Write a function `area_circle(radius)` that returns the area of a circle. Use π = 3.14159**

In [3]:
import math
def area_circle(radius):
    return math.pi*radius*radius
input=float(input("Enter radius of circle: "))
area_circle(input)

Enter radius of circle 12

452.3893421169302

**Write a function `check_even_odd(num)` that prints whether a number is Even or Odd.**

In [13]:
def check_even_odd(num):
    if num % 2 == 0:
        return 'even'
    else:
        return 'odd'

print(check_even_odd(12))

even

**Write a function `calculate_bmi(weight, height)` that returns BMI value using the formula:
BMI = weight / (height ** 2)**

In [15]:
def calculate_bmi(weight, height):
    BMI=weight / (height ** 2)
    return BMI
print(calculate_bmi(51, 5.7))

1.569713758079409

**Write a function `greet(name, age)` that prints:Hello <your name>  you are <your age> years old!**

In [18]:
def greet(name, age):
    return "Hello "+name+" you are "+str(age)+" years old"
greet('Virat',36)

'Hello Virat you are 36 years old'

**Write a function `find_max(a, b)` that returns the greater of the two numbers.**

In [19]:
def find_max(a, b):
    if a>b:
        return a
    else:
        return b
find_max(10,99)

99

**Write a function `power(base, exponent)` that returns base raised to the power exponent.**

In [22]:
def power(base, exponent):
    return base**exponent
print(power(7,9))

40353607

**Write a function `simple_interest(principal, rate, time)` that returns the simple interest. Formula: (P × R × T) / 100**

In [23]:
def simple_interest(principal, rate, time):
    return (principal*time*rate)/100
simple_interest(12000,2,3.8)

912.0

**Write a function `is_leap_year(year)` that returns True if the year is a leap year, otherwise False.**

In [24]:
def is_leap_year(year):
    if (year % 4 == 0) and (year % 100 != 0 or year % 400 == 0):
        return True
    else:
        return False
is_leap_year(2004)

True