**List_Comprehension**

- Writing list operation in a single line is called as List Comprehension
- Generally code process time will increase when we use for and if
- List comprehension will reduce the processing time

**Case 1:List with for loop**

In [ ]:
#[<output><for loop>]

In [ ]:
#append 1 to 10 number in a list

In [2]:
l=[]
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
l=[i for i in range(1,11)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Q1) input=['hyd','bengaluru','mumbai','chennai']
#     output=['Hyd','Bengaluru','Mumbai','Chennai']

# Q2) input=['hyd','bengaluru','mumbai','chennai']
#     output=['HYD','BENGALURU','MUMBAI','CHENNAI']

In [7]:
Input=['hyd','bengaluru','mumbai','chennai']
output=[i.title() for i in Input]
print(output)

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [8]:
Input=['hyd','bengaluru','mumbai','chennai']
output=[i.upper() for i in Input]
print(output)

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

**Case 2:for-if condition**

In [ ]:
#[<output> <for loop> <if condition>]

In [12]:
import random 
Input=[random.randint(1,100) for i in range(5)]
even_list=[]
for i in Input:
    if i%2==0:
        even_list.append(i)
print(even_list)

[82, 26, 26]

In [14]:
import random 
Input=[random.randint(1,100) for i in range(5)]
even_list=[i for i in Input if i%2==0]
odd_list=[i for i in Input if i%2!=0]
even_list,odd_list

([4, 88, 44], [37, 37])

In [ ]:
#Q3)input=['hyd','bengaluru','mum#bai','chen#nai']
#     output=['mum#bai','chen#nai']

# Q4) input=['hyd','bengaluru','mum#bai','chen#nai']
#     output=['hyd','bengaluru']

In [16]:
Input=['hyd','bengaluru','mum#bai','chen#nai']
output=[i for i in Input if '#' in i]
output

['mum#bai', 'chen#nai']

In [17]:
Input=['hyd','bengaluru','mum#bai','chen#nai']
output=[i for i in Input if '#' not in i]
output

['hyd', 'bengaluru']

**Case 3:for-if-else**

In [ ]:
#[<output if> <if condition> else <else output> <for loop> <>]

In [1]:
import random
num=[random.randint(1,100) for i in range(1,100)]
output=[f"{i}:even" if i%2==0 else f"{i}:odd" for i in num ]
output

['30:even',
 '32:even',
 '3:odd',
 '75:odd',
 '69:odd',
 '38:even',
 '51:odd',
 '11:odd',
 '8:even',
 '19:odd',
 '73:odd',
 '65:odd',
 '22:even',
 '7:odd',
 '12:even',
 '60:even',
 '90:even',
 '36:even',
 '79:odd',
 '52:even',
 '10:even',
 '22:even',
 '66:even',
 '83:odd',
 '100:even',
 '31:odd',
 '56:even',
 '57:odd',
 '33:odd',
 '38:even',
 '13:odd',
 '95:odd',
 '26:even',
 '32:even',
 '7:odd',
 '80:even',
 '81:odd',
 '92:even',
 '62:even',
 '13:odd',
 '76:even',
 '94:even',
 '63:odd',
 '31:odd',
 '70:even',
 '45:odd',
 '13:odd',
 '14:even',
 '79:odd',
 '82:even',
 '91:odd',
 '12:even',
 '63:odd',
 '66:even',
 '79:odd',
 '93:odd',
 '46:even',
 '45:odd',
 '95:odd',
 '28:even',
 '49:odd',
 '69:odd',
 '41:odd',
 '15:odd',
 '6:even',
 '43:odd',
 '15:odd',
 '71:odd',
 '69:odd',
 '51:odd',
 '50:even',
 '72:even',
 '86:even',
 '31:odd',
 '35:odd',
 '9:odd',
 '66:even',
 '68:even',
 '69:odd',
 '45:odd',
 '96:even',
 '79:odd',
 '66:even',
 '61:odd',
 '16:even',
 '79:odd',
 '62:even',
 '7:odd',
 '57:odd',
 '75:odd',
 '69:odd',
 '57:odd',
 '33:odd',
 '6:even',
 '49:odd',
 '23:odd',
 '91:odd',
 '74:even',
 '43:odd']

**Case 4:for-if-elif-else**

In [ ]:
#[<if out> <if con> else <if out2> <if con> else <else out> <for loop>]

- There is no elif concept in list comprehension
- elif will be write as if + else
- elif condition, elif output: else, if cond, outout

In [4]:
Input=[50,47,89,92,66]
for i in input1:
    if i>=70:
        print(f'{i}:A grade')
    elif i>=50:
        print(f'{i}:B grade')
    else:
        print(f'{i}:C grade')

50:B grade
47:C grade
89:A grade
92:A grade
66:B grade

In [6]:
Input=[50,47,89,92,66]
output=[f"{i}:A" if i>=70 else f"{i}:B" if i>=50 else f"{i}:C" for i in Input]
output

['50:B', '47:C', '89:A', '92:A', '66:B']