**Assignment 15**

**Find the max value in a given list with out using max function
l=[3,2,7,1,9,5]
max=9**

In [3]:
l=[3,2,7,1,9,5]
max=l[0]
for i in l:
    if max<i:
        max=i
print(max)

9

**Find the min value in a given list with out using min function
l=[3,2,7,1,9,5]
min=1**

In [2]:
l=[3,2,7,1,9,5]
min=l[0]
for i in l:
    if min>i:
        min=i
print(min)

1

**Sort values
l=[3,2,7,1,9,5]
out=[1,2,3,5,7,9]**

In [7]:
l=[3,2,7,1,9,5]
n = len(l)
for i in range(n):
    for j in range(0, n-i-1):
        if l[j] > l[j+1]:
            l[j], l[j+1] = l[j+1], l[j]

print(l)

[1, 2, 3, 5, 7, 9]

**Reverse values
l=[3,2,7,1,9,5]
out=[5,9,1,7,2,3]**

In [9]:
l=[3,2,7,1,9,5]
print(l[::-1])

[5, 9, 1, 7, 2, 3]

**Find the second min value in a given list with out using min function
l=[3,2,7,1,9,5]
min=2**

In [ ]:
def sort(l):
    n = len(l)
    for i in range(n):
        for j in range(0, n-i-1):
            if l[j] > l[j+1]:
                l[j], l[j+1] = l[j+1], l[j]
    print(l)